.form .formComponent .formComponentLabel {
    font-size: 1em;
    font-weight: normal;
}

/*.form .formComponent {
    padding-left: 0em;
}*/

input {
    width: 157px;
    padding-left: .5em;
}

#updatePassword, #updateConfirmPassword {
    width: 75%;
}

#updatePassword-tip {
    font-size: 1.2em;
}

#updatePassword-tip .text {
    width: 400px;
}

#updatePassword-tip {
    min-width: 400px;
}

#inputarea {
    margin-left: 45px;
}

body {
    padding-top: 0em;
    padding-bottom: 0em;
}
.content {
    min-height: 800px;
}
